In [6]:
import numpy as np
import pandas as pd

In [240]:
with open("tb.xyz") as f:
    df = pd.DataFrame([line.strip().split() for line in f.readlines()])
    headers = [f"Col{i}" for i in range(1, 5)]
    df.to_csv("tb.csv", index=False, header=headers)

In [241]:
a = pd.read_csv("tb.csv")

In [257]:
#Enter the number of rings: n_rings
n_rings=2
a.iloc[0,0]=int(a.iloc[0,0])+n_rings

In [258]:
#enter the atom numbers of the ring
#d is for the first ring

d=[61,65,69,57,73]

#d1 is for the first ring

d1=[9,13,17,1,5]

In [259]:
a

       Col1        Col2      Col3      Col4
0       113         NaN       NaN       NaN
1    Energy           =       NaN       NaN
2         C  -0.1379326  1.214727  2.484947
3         C  -0.3522967  2.719048  2.655965
4         C   0.0718016  3.222034  4.056233
..      ...         ...       ...       ...
108       H  -2.3598303 -1.160802 -4.861619
109       H  -3.4092242  0.122338 -4.194280
110       H  -4.3834269 -1.533681 -1.630043
111       H  -3.0408908 -1.045329 -0.553646
112       H  -3.8533822  0.172155 -1.576443

[113 rows x 4 columns]

In [260]:
b=np.array(a.iloc[2:,1:4])
c=[]

In [261]:
c=[]
for i in range(len(b)):
    #if i!=0 and i!=1:
        for j in range(len(d)):
            if i==d[j]:
                c.append(b[i])
                #print (b[i])

In [262]:
h=np.array(c)
e=[]

In [263]:
h=h.astype('float')

In [264]:
x_avg = np.average(h[:,0])
y_avg = np.average(h[:,1])
z_avg = np.average(h[:,2])
e = [x_avg,y_avg,z_avg]
#f = np.array(e)
e.insert(0, 'B')

In [266]:
df2=[]
df2 = a.append(pd.DataFrame([e],index=['113'],columns=a.columns))
#print(df2)

/tmp/ipykernel_416971/1359001237.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = a.append(pd.DataFrame([e],index=['113'],columns=a.columns))

In [267]:
c1=[]
for i in range(len(b)):
    #if i!=0:
        for j in range(len(d1)):
            if i==d1[j]:
                c1.append(b[i])
                #print (b[i])

In [268]:
h1=np.array(c1)
e1=[]
h1=h1.astype('float')
x1_avg = np.average(h1[:,0])
y1_avg = np.average(h1[:,1])
z1_avg = np.average(h1[:,2])
e1 = [x1_avg,y1_avg,z1_avg]
#f = np.array(e)
e1.insert(0, 'B')

In [269]:
#e1

In [270]:
df3 = df2.append(pd.DataFrame([e1],index=['114'],columns=df2.columns))
#print(df3)

/tmp/ipykernel_416971/3617181993.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df2.append(pd.DataFrame([e1],index=['114'],columns=df2.columns))

In [271]:
np.savetxt("tb.xyz", df3,fmt = '%s')

In [277]:
df3

       Col1        Col2      Col3      Col4
0       113         NaN       NaN       NaN
1    Energy           =       NaN       NaN
2         C  -0.1379326  1.214727  2.484947
3         C  -0.3522967  2.719048  2.655965
4         C   0.0718016  3.222034  4.056233
..      ...         ...       ...       ...
110       H  -4.3834269 -1.533681 -1.630043
111       H  -3.0408908 -1.045329 -0.553646
112       H  -3.8533822  0.172155 -1.576443
113       B   -0.003675  0.000254 -2.664224
114       B    0.003714 -0.000214  2.662978

[115 rows x 4 columns]